.btn {
  border-radius: 200px;
  padding: 16px 40px;
  min-width: 166px;
  background-color: #e44848;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:focus,
.btn:hover {
  background-color: #d84343;
}
