.pageHome {
  font-weight: 600;
  color: #f7f7f7;
  padding: 260px 64px;
  background-image: image-set(
    url(../../img/1x-PictureHomePage.jpg) 1x,
    url(../../img/2x-PictureHomePage.jpg) 2x
  );
  background-repeat: no-repeat;
}
.titleHomePage {
  font-size: 48px;
  line-height: 0.7;
}
.descriptionHomePage {
  font-size: 24px;
  line-height: 1.3;
}
.btnViewNow {
  min-width: 163px;
  padding: 16px 48px;
}
